<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Liste des Avions</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/avions.css}">
</head>
<body>
<nav>
    <a href="/home_tech">Accueil</a>
    <a href="/avions">Liste des Avions</a>
    <a href="/avions/new">Ajouter un Avion</a>
</nav>
<h1>Liste des Avions</h1>

<div class="search-container">
    <input type="text" id="filterInput" placeholder="Rechercher une Avion..." onkeyup="filterTable()">
</div>

<table id="avionTable">
    <thead>
    <tr>
        <th>Nom</th>
        <th>Type</th>
        <th>Capacité</th>
        <th>État</th>
        <th>Date d'ajout</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="avion : ${avions}">
        <td th:text="${avion.nom}">Nom</td>
        <td th:text="${avion.type}">Type</td>
        <td th:text="${avion.capacite}">Capacité</td>
        <td th:text="${avion.etat}">État</td>
        <td th:text="${#dates.format(avion.dateAjout, 'dd/MM/yyyy HH:mm')}">Date d'ajout</td>
        <td>
            <a th:href="@{/avions/edit/{id}(id=${avion.id})}" class="action-icon"><i class="fas fa-edit"></i> Éditer</a>
            <a th:href="@{/avions/delete/{id}(id=${avion.id})}" class="action-icon"><i class="fas fa-trash-alt"></i> Supprimer</a>
        </td>
    </tr>
    </tbody>
</table>
<a th:href="@{/avions/new}" class="btn">Ajouter un nouvel avion</a>

<script>
    function filterTable() {
        var input, filter, table, tr, td, i, j, txtValue;
        input = document.getElementById("filterInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("avionTable");
        tr = table.getElementsByTagName("tr");

        for (i = 1; i < tr.length; i++) {
            tr[i].style.display = "none";
            td = tr[i].getElementsByTagName("td");
            for (j = 0; j < td.length; j++) {
                if (td[j]) {
                    txtValue = td[j].textContent || td[j].innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                        break;
                    }
                }
            }
        }
    }
</script>
</body>
</html>
