<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Détails du Rapport</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/detailRapport.css}">
</head>
<body>
<nav>
    <a th:href="@{/home_tech}">Accueil</a>
    <a th:href="@{/mesRapports}">Liste des Rapports</a>
</nav>

<h1>Détails du Rapport</h1>

<div>
    <p><strong>Nom du Technicien:</strong> <span th:text="${rapport.nomTechnicien}"></span></p>
    <p><strong>Titre:</strong> <span th:text="${rapport.titre}"></span></p>
    <p><strong>Contenu:</strong> <span th:text="${rapport.contenu}"></span></p>
    <p><strong>Date de Création:</strong> <span th:text="${rapport.dateCreation}"></span></p>
</div>

</body>
</html>
