<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Éditer Technicien</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/edit_technicien.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
<nav>
    <a href="/home_sup">Accueil</a>
    <a href="/listTechniciens">Liste des Techniciens</a>
    <a href="/listTechniciens/new">Ajouter un Technicien</a>
</nav>
<h1>Éditer Technicien</h1>
<form th:action="@{/listTechniciens/edit/{id}(id=${utilisateur.id})}" th:object="${utilisateur}" method="post" class="form-edit-technicien">
    <label>Nom: <input type="text" th:field="*{nom}" required /></label><br/>
    <label>Prenom: <input type="text" th:field="*{prenom}" required /></label><br/>
    <label>Email: <input type="email" th:field="*{email}" required /></label><br/>
    <label>Mot de passe: <input type="password" th:field="*{mot_de_passe}" required /></label><br/>
    <button type="submit" class="btn">Enregistrer</button>
</form>
<a th:href="@{/listTechniciens}" class="btn">Retour à la liste</a>
</body>
</html>
