<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboard Technicien</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/home_tech.css}">

</head>
<body>
<div class="container">
    <div class="sidebar">
        <h2>Technicien</h2>
        <ul>
            <li><a th:href="@{/technicien/dashboard}">Dashboard</a></li>
            <li><a th:href="@{/avions}">Gerer l'etat d'avion</a></li>
            <li><a th:href="@{/technicien/rapports}">Rédiger Rapport</a></li>
            <li><a th:href="@{/pieces}">Demander Pièces</a></li>
        </ul>
    </div>
    <div class="content">
        <div class="navbar">
            <h1>Dashboard Technicien</h1>
            <div class="nav-links">
                <a th:href="@{/logout}">Déconnexion</a>
            </div>
        </div>
        <div class="main-content">
            <!-- Contenu spécifique à la page -->
            <p>Bienvenue sur le tableau de bord du technicien.</p>
        </div>
    </div>
</div>
</body>
</html>
