<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboard Superviseur</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/home_sup.css}">

</head>
<body>
<div class="container">
    <div class="sidebar">
        <h2>Superviseur</h2>
        <ul>
            <li><a th:href="@{/superviseur/dashboard}">Dashboard</a></li>
            <li><a th:href="@{/listTechniciens}">Gérer Techniciens</a></li>
            <li><a th:href="@{/pieces}">Gérer Pièces</a></li>
            <li><a th:href="@{/listRapport}">Rapports</a></li>
            <li><a th:href="@{/techPieces}">Piéces Demandées</a></li>
            <li><a th:href="@{/planings/superviseur}">Maintenance Planifiées</a></li>
            <li><a th:href="@{/avions/superviseur}">Etat Des Avions Disponibles</a></li>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <hr>
            <li><a th:href="@{/}">Support Technique</a></li>
        </ul>
    </div>
    <div class="content">
        <div class="navbar">
            <h1>Dashboard Superviseur</h1>
            <div class="nav-links">
                <a th:href="@{/logout}">Déconnexion</a>
            </div>
        </div>
        <p>Bienvenue sur le tableau de bord du superviseur.</p>
        <div class="main-content">
        </div>
    </div>
</div>
</body>
</html>
