<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboard Technicien</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/home_tech.css}">
</head>
<body>
<div class="container">
    <div class="sidebar">
        <h2>Technicien</h2>
        <ul>
            <li><a th:href="@{/technicien/dashboard}">Dashboard</a></li>
            <li><a th:href="@{/avions}">Gérer Les Avions</a></li>
            <li><a th:href="@{/rapports/new}">Rédiger Rapport</a></li>
            <li><a th:href="@{/techPieces}">Pièces Disponibles</a></li>
            <li><a th:href="@{/piece/request/new}">Demander Pièces</a></li>
            <li><a th:href="@{/planings}">Planifier Des Maintenaces</a></li>
            <br><br><br><br><br><br><br><br><br><br><br><br><hr>
            <li><a th:href="@{/}">Support Technique</a></li>
        </ul>
    </div>
    <div class="content">
        <div class="navbar">
            <h1>Dashboard Technicien</h1>
            <div class="nav-links">
                <a th:href="@{/logout}">Déconnexion</a>
            </div>
        </div>
        <p>Bienvenue sur le tableau de bord du technicien.</p>
        <div class="main-content">
        </div>
    </div>
</div>

<!-- Popup Message -->
<div id="successPopup" style="display:none; position:fixed; top:20px; right:20px; background-color:#03aa0f; color:#000000; padding:10px; border-radius:5px; box-shadow:0 2px 5px rgba(0,0,0,0.5);">
    <span id="popupMessage"></span>
</div>

</body>

<script type="text/javascript">
    window.onload = function() {
        var urlParams = new URLSearchParams(window.location.search);
        if (urlParams.has('message') && urlParams.get('message') === 'success') {
            showPopup("La pièce a été créée avec succès !");
        }
    };

    function showPopup(message) {
        var popup = document.getElementById("successPopup");
        var popupMessage = document.getElementById("popupMessage");
        popupMessage.innerText = message;
        popup.style.display = "block";
        setTimeout(function() {
            popup.style.display = "none";
        }, 3000);
    }
</script>

</html>
