<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Liste Des Rapports</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/listRapport.css}">
</head>
<body>
<nav>
    <a th:href="@{/home_sup}">Accueil</a>
    <a th:href="@{/listRapport}">Liste des Rapports</a>
</nav>
<h1>Liste Des Rapports</h1>

<table>
    <thead>
    <tr>
        <th>Nom du Technicien</th>
        <th>Titre</th>
        <th>Contenu</th>
        <th>Date de Création</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="rapport : ${rapports}">
        <td th:text="${rapport.nomTechnicien}"></td>
        <td th:text="${rapport.titre}"></td>
        <td>
            <span th:text="${@rapportServiceImpl.truncateWords(rapport.contenu, 10)}"></span>
            <a th:href="@{/rapports/{id}(id=${rapport.id})}" class="view-all-link">View All</a>
        </td>
        <td th:text="${formattedDates[rapport.id]}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>
