<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/listTechniciens.css}">
    <title>Liste des Utilisateurs</title>
</head>
<body>
<nav>
    <a href="/administration/new">Ajouter un Utilisateur</a>
</nav>
<h1>Liste des Utilisateurs</h1>

<!-- Text box for filtering entries -->
<div class="search-container">
    <input type="text" id="filterInput" placeholder="Rechercher un utilisateur..." onkeyup="filterTable()">
</div>

<table id="userTable">
    <thead>
    <tr>
        <th>Nom</th>
        <th>Prenom</th>
        <th>E-Mail</th>
        <th>Rôle</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <!-- Utilisation de Thymeleaf pour itérer à travers les utilisateurs -->
    <tr th:each="utilisateur : ${users}">
        <td th:text="${utilisateur.nom}">Nom</td>
        <td th:text="${utilisateur.prenom}">Prenom</td>
        <td th:text="${utilisateur.email}">E-Mail</td>
        <td th:text="${utilisateur.role}">Rôle</td>
        <td>
            <!-- Liens d'édition et de suppression des utilisateurs -->
            <a th:href="@{/administration/edit/{id}(id=${utilisateur.id})}" class="action-icon"><i class="fas fa-edit"></i></a>
            <a th:href="@{/administration/delete/{id}(id=${utilisateur.id})}" class="action-icon"><i class="fas fa-trash-alt"></i></a>
        </td>
    </tr>
    </tbody>
</table>
<!-- Lien vers la page pour ajouter un nouveau technicien -->
<a href="administration/new" class="btn">Ajouter un nouveau Technicien</a>


<script>
    function filterTable() {
        var input, filter, table, tr, td, i, j, txtValue;
        input = document.getElementById("filterInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("userTable");
        tr = table.getElementsByTagName("tr");

        for (i = 1; i < tr.length; i++) {
            tr[i].style.display = "none";
            td = tr[i].getElementsByTagName("td");
            for (j = 0; j < td.length; j++) {
                if (td[j]) {
                    txtValue = td[j].textContent || td[j].innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                        break;
                    }
                }
            }
        }
    }
</script>

</body>
</html>