<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/pieces.css}">
    <title>Liste des Pièces Détachées</title>
</head>

<body>
<nav>
    <a href="/home_sup">Accueil</a>
    <a href="/pieces">Liste des Pièces</a>
    <a href="/pieces/new">Ajouter une Pièce</a>
</nav>

<h1>Liste des Pièces Détachées</h1>

<!-- Text box for filtering entries -->
<div class="search-container">
    <input type="text" id="filterInput" placeholder="Rechercher une pièce..." onkeyup="filterTable()">
</div>

<table id="piecesTable">
    <thead>
    <tr>
        <th>Nom</th>
        <th>Description</th>
        <th>Prix/pcs</th>
        <th>Quantité</th>
        <th>Date d'ajout</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <!-- Utilisation de Thymeleaf pour itérer à travers les pièces -->
    <tr th:each="piece : ${pieces}">
        <td th:text="${piece.name}">Nom</td>
        <td th:text="${piece.description}">Description</td>
        <td th:text="${piece.price}">Prix</td>
        <td th:text="${piece.quantity}">Quantité</td>
        <td th:text="${#dates.format(piece.dateAjout, 'dd/MM/yyyy HH:mm')}">Date d'ajout</td>
        <td>
            <!-- Liens d'édition et de suppression des pièces -->
            <a th:href="@{/pieces/edit/{id}(id=${piece.id})}" class="action-icon"><i class="fas fa-edit"></i></a>
            <a th:href="@{/pieces/delete/{id}(id=${piece.id})}" class="action-icon"><i class="fas fa-trash-alt"></i></a>
        </td>
    </tr>
    </tbody>
</table>

<!-- Lien vers la page pour ajouter une nouvelle pièce -->
<a th:href="@{/pieces/new}" class="btn">Ajouter une nouvelle pièce</a>

<script>
    function filterTable() {
        var input, filter, table, tr, td, i, j, txtValue;
        input = document.getElementById("filterInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("piecesTable");
        tr = table.getElementsByTagName("tr");

        for (i = 1; i < tr.length; i++) {
            tr[i].style.display = "none";
            td = tr[i].getElementsByTagName("td");
            for (j = 0; j < td.length; j++) {
                if (td[j]) {
                    txtValue = td[j].textContent || td[j].innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                        break;
                    }
                }
            }
        }
    }
</script>

</body>
</html>
