<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/pieces.css}">
    <title>Liste des Pièces Détachées</title>

</head>
<body>
<nav>
    <a href="/home_sup">Accueil</a>
    <a href="/pieces">Liste des Pièces</a>
    <a href="/pieces/new">Ajouter une Pièce</a>
</nav>
<h1>Liste des Pièces Détachées</h1>

<!-- Barre de recherche -->
<div class="search-container">
    <form action="/pieces/search" method="get" class="search-box">
        <input type="text" name="query" class="search-input" placeholder="Rechercher une pièce..." />
        <button type="submit" class="search-button"><i class="fas fa-search"></i> Rechercher</button>
    </form>
</div>

<table>
    <thead>
    <tr>
        <th>Nom</th>
        <th>Description</th>
        <th>Prix/pcs</th>
        <th>Quantité</th>
        <th>Date d'ajout</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <!-- Utilisation de Thymeleaf pour itérer à travers les pièces -->
    <tr th:each="piece : ${pieces}">
        <td th:text="${piece.name}">Nom</td>
        <td th:text="${piece.description}">Description</td>
        <td th:text="${piece.price}">Prix</td>
        <td th:text="${piece.quantity}">Quantité</td>
        <td th:text="${#dates.format(piece.dateAjout, 'dd/MM/yyyy HH:mm')}">Date d'ajout</td>
        <td>
            <!-- Liens d'édition et de suppression des pièces -->
            <a th:href="@{/pieces/edit/{id}(id=${piece.id})}" class="action-icon"><i class="fas fa-edit"></i></a>
            <a th:href="@{/pieces/delete/{id}(id=${piece.id})}" class="action-icon"><i class="fas fa-trash-alt"></i></a>
        </td>
    </tr>
    </tbody>
</table>

<!-- Lien vers la page pour ajouter une nouvelle pièce -->
<a th:href="@{/pieces/new}" class="btn">Ajouter une nouvelle pièce</a>

</body>
</html>
