<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" type="text/css" th:href="@{/styles/pieces.css}">
  <title>Liste des Pièces Disponibles</title>

</head>
<body>
<nav>
  <a href="/home_tech">Accueil</a>
  <a href="/demanderPiece">Demander une nouvelle Piece</a>
</nav>
<h1>Liste des Pièces Disponibles</h1>

<!-- Barre de recherche -->
<div class="search-container">
  <form action="/pieces/search" method="get" class="search-box">
    <input type="text" name="query" class="search-input" placeholder="Rechercher une pièce..." />
    <button type="submit" class="search-button"><i class="fas fa-search"></i> Rechercher</button>
  </form>
</div>

<!--Tableau Des pieces-->
<table>
  <thead>
  <tr>
    <th>Nom</th>
    <th>Description</th>
    <th>Quantité</th>
  </tr>
  </thead>
  <tbody>

  <tr th:each="piece : ${pieces}">
    <td th:text="${piece.name}">Nom</td>
    <td th:text="${piece.description}">Description</td>
    <td th:text="${piece.quantity}">Quantité</td>
  </tr>
  </tbody>
</table>


</body>
</html>
